<nav class="navbar-container">
  <div class="navbar-brand">
    <img src="ORCA1.svg" alt="YZIDRO Logo" class="navbar-logo" />
    <div class="navbar-title-group">
      <h1 class="navbar-title">Orcafin - ORCA</h1>
      <span class="navbar-subtitle">SISTEMAS MERCANT</span>
    </div>
  </div>

  <div class="navbar-actions">
    <button mat-icon-button aria-label="Minimizar" (click)="minimizarTela()">
      <mat-icon>remove</mat-icon>
    </button>
    <button
      mat-icon-button
      aria-label="Configurações"
      [matMenuTriggerFor]="menuConfiguracoes"
    >
      <mat-icon>settings</mat-icon>
    </button>

    <mat-menu #menuConfiguracoes="matMenu">
      <button mat-menu-item (click)="abrirConta()">
        <mat-icon>account_circle</mat-icon> <span>Conta</span>
      </button>
      <button mat-menu-item (click)="abrirConfiguracoesApp()">
        <mat-icon>manage_accounts</mat-icon> <span>Configuração</span>
      </button>
      <button mat-menu-item (click)="fazerLogout()">
        <mat-icon>exit_to_app</mat-icon> <span>Sair</span>
      </button>
    </mat-menu>

    <button mat-icon-button aria-label="Fechar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</nav>
